body{
    font-family: 'Darker Grotesque', sans-serif;
    display:flex;
    align-items: center;
}

.section1{
    margin-right: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.texto{
    margin-bottom: 150px;
}

.frase{
    display: flex;
    font-size: 60px;
    margin-bottom: 10px;
}
.wolf img{
    border: 1px solid black;
    border-radius: 50%;
}
.nome{
    width: 68vw;
    font-weight: 600;
    border:0;
    border-bottom: 1px solid #333333;
}
.idade{
    min-width: 40px;
    font-weight: 600;
    width: 4.59vw;
    border:0;
    border-bottom: 1px solid #333333;
}
.mail{
    width:75vw;
    font-weight: 600;
    border:0;
    border-bottom: 1px solid #333333;
    
}
.section2{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.divnome{
    margin-right: 2vw;
}
.botao{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.btn{
    margin-top: 50px;
    padding-left: 58px;
    padding-right: 58px;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: #2C5680;
    color: white;
    border: 0;
    border:1px solid #333333;
    font-size: 36px;
    font-weight:500;
    cursor: pointer;
}
@media(max-width:1089px){
    body{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .idade{
        width: 14vw;
    }
    .section1{
        margin-right: 0vw;
    }
     .divnome{
        margin-left: 13vw;
    }
    .nome{
        width: 75vw;
    }
    .dividade {
        margin-left: 42.3vw;
    } 
}