body{
    font-family: 'Darker Grotesque', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 36px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.backcolor{
    width: 430px;
    height: 328px;
    background-color: #2C5680;
    position: relative;
    border: 4px solid #333333;
}

.text{
    max-width: 30vw;
    margin-left: 3vw;
}
.texto{
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
    min-width: 250px;
}
.megabox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.adotbtn{
    font-family: 'Roboto', sans-serif;
    width: 140px;
    height: 56px;
    background-color: #7AAC3A;
    cursor: pointer;
    color: white;
    font-weight: 700;
    border: 0;
    margin-top: 40px;
    margin-left: 40px;
}
.exclubtn{
    font-family: 'Roboto', sans-serif;
    width: 140px;
    height: 56px;
    background-color: #DE5959;
    cursor: pointer;
    color: white;
    font-weight: 700;
    margin-left: 65px;
    border: 0;
    margin-top: 40px;
}
.butons{
    display: flex;
    flex-direction: row;
}
.lobinho img{
    position: absolute;
    top: 240px;
}
.container {
}
.mainshow{
    margin-bottom: 65px;
}

@media (max-width: 761px){
    .megabox{
        justify-content: center;
        align-items: center;
    }
    .text{
        max-width: 70vw;
    }
    .backcolor{
        width: 95vw;
    }

    .lobinho img{
        width: 89vw;
    }

    .exclubtn{
        margin-left: 35px;
        margin-right: 20px;
    }
    .adotbtn{
        margin-left: 20px;
    }
    .butons{
        justify-content: center;
    }
}
